.body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
}
.container-fluid{
    padding: 0px 101px 0px 102px;
}

.bg-light{
    background-color: #ce0505 !important;
}

.navbar-brand{
    width: 45px;
    background-color: white !important;
    color: #eb2929 !important;
    text-align: center;
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 33px;
    height: 45px;
    /* border-radius: 29px; */
    border-radius: 50%;  
    line-height: 31px;
}

.btn-outline-success{
    color: white !important;
    border: 1px solid white !important;
}
.btn.btn-outline-success:active,
.btn.btn-outline-success:hover,
.btn.btn-outline-success:focus{
    color: #8c96ab !important;
    background-color: transparent !important;
    border-color: #8c96ab !important;
    outline: none;
    box-shadow: none;
}


.btn-link{
    color: white;
    text-decoration: none;
}
.btn.btn-link:active,
.btn.btn-link:hover,
.btn.btn-link:focus
{
    color: #8c96ab;
    outline: none;
    box-shadow: none;
}

.bf-header{
    margin-left:100px;
    margin-top: 40px;
    color: #192f60 !important;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.hidden-data
{
    display: none;

}

.col{
    border: 1px solid #fff;;
    height: auto;
    margin: 25px 25px 25px 100px;
    /* margin-left:113px; */
    padding: 1px;
    
}

.shadow{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 17px 25px 31px 26px;
    background-color: #fff;
    width: 260px;
}

.h2{
    font-family: 'Poppins', sans-serif;
    color: #192f60 !important;
    font-size: 18px;
    font-weight: 600;
}

.row{
    padding: 0px 32.6px 0px 35px !important;
}

.heading-style {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #192f60;
    margin: 22px 0px 15px 0px;   
} 

.Text-Style{
    font-family: 'Poppins', sans-serif;
    font-size: 14px !important;
    color: #8c96ab !important;
}

.rounded{
    border-radius: 23px !important;
    width:120px;
    height:120px;
}

.Shop-Name{
    color: #192f60;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.address-line-1{
    color: #192f60;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.address-line-2{
    margin: 5px;
    color: #636f88;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.line-break {
    width: 726.4px;
    height: 0px !important;
    padding: 0px !important;
    /* margin: 11px 0 0 0 !important; */
    border: solid 1px #dedfe5;
  }

.card-col{
    height: auto;
    padding: 25px 35px;
}



.card{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 18px;
    height: auto;
}
.col-6{
    overflow: hidden;
}
.item{
  font-family: Poppins;
  font-size: 14px;
  color: #636f88;
}

.prices{
  font-family: Poppins;
  font-size: 15px;
  color: #192f60;
  margin-left: 20px;
}

.page-item{
    margin: 0 13px 0 0;
}
.page-link{
    font-family: 'Poppins', sans-serif;
    color: #8c96ab;
    border-radius: 7px !important;
    border: solid 1px #8c96ab !important;
    padding: 5px 12px 3px !important;
}
.page-link:hover{
    background-color: #8c96ab; 
    color: #fff;
}
.pagination{
    justify-content: center;
}

.No_Result_Container
{
    font-family: 'Poppins', sans-serif;
    height: 352px;
    vertical-align: middle;
    line-height: 280px; 
    font-size: 20px;
    font-weight: 600;
    color: #192f60;

}

/* Media Qeury */
@media only screen and (max-width : 640px) {
    .container-fluid{
        margin: 0 0 auto auto;
        padding: 10px 10px 10px 10px;

    }

    .bf-header{
        margin: 31px 111px 12px 24px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        color: #192f60;
    }
    .Filter-Bar{
        padding: 16px 26.7px 14px 21px;
        border-radius: 3px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        border: none;
        height: 53px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.56;
        color: #192f60;
    }
    .hidden-data
    {
        margin: 12px 111px 0px 24px;
        display: block;
        width: 90%;

    }
    .header{
        padding: 15px 50px 13px 30px;
        background-color: #ce0505;
    }

    .left-side-panel{
        display: none;
    }
    .right-side-panel
    {
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
        
    }
    .rounded{
        border-radius: 10px !important;
        width:70px;
        height:70px;
    }
    .Shop-Name{
        font-family: Poppins;
        font-size: 20px;
        text-align: left;
        color: #192f60;
    }
    
    .address-line-1{
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        color: #192f60;
    }
    
    .address-line-2{
        font-family: Poppins;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        color: #636f88;
    }
    
    .card-col{
        height: auto;
    }
    
    .item{
        font-family: Poppins;
        font-size: 13px;
        font-weight: normal;
        text-align: left;
        color: #636f88;
    }
    
    .prices{
        font-family: Poppins;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        color: #192f60;
    }
    .page-item{
        margin: 0 13px 0 0;
    }
    .page-link{
        padding: 5px 11px 2px 10px;
    }
    .pagination{
        justify-content: center;
    }
    .Parent-Container  {
        padding: 0px !important;
    }
}
